{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import csrf_field, render_submit, attendance_status, render_boolean, render_input, render_raw_input %}

{% block caption %}
    Kurs: <a href="{{ url_for('language', id=course.language.id) }}">{{ course.language.name }}</a> {{ course.level }}
    {{ course.alternative }}
{% endblock caption %}


{% block internal_body %}
    <div>
        <a href=" {{ url_for('grade', id=teacher.id, course_id=course.id) }} ">
            <button type="button" class="ui button">Zurück zur Notenübersicht</button>
        </a>
    </div>
    <div class="row">
        <h2>Noten Eintragen</h2>
    </div>

    <div>
        {% for entry in form.grades.entries %}
            {% if entry.grade.errors %}
                <div>
                    <ul>
                        {% for error in entry.grade.errors %}
                            <li><span
                                class="ui red pointing prompt label transition visible">{{ error }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <form method="post">
        {{ csrf_field() }}
        <div class="row">
            <table class="ui selectable sortable compact small striped table">
                <thead>
                <tr>
                    <th>Matrikelnr.</th>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th>ECTS</th>
                    <th>Note (in %)</th>
                    <th>Prüfungsdatum</th>
                </tr>
                </thead>
                <tbody>
                {% for attendance, subform in zip(course.attendances, form.grades) %}
                    <tr>
                        <td>{{ attendance.applicant.tag }}</td>
                        <td><a
                            href="{{ url_for('applicant', id=attendance.applicant.id) }}">{{ attendance.applicant.first_name }}</a>
                        </td>
                        <td><a
                            href="{{ url_for('applicant', id=attendance.applicant.id) }}">{{ attendance.applicant.last_name }}</a>
                        </td>
                        <td>{{ course.ects_points }}</td>
                        <td>
                            <div class="ui labeled input">
                                <div class="ui label">
                                    {{ subform.grade.label }}
                                </div>
                                {{ render_raw_input(subform.grade(id=subform.grade.render_kw.id)) }}
                                {% if subform.grade.errors %}
                                    <div>
                                        {% for error in subform.grade.errors %}
                                            <span
                                                class="ui red pointing prompt label transition visible">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            {{ exam_date }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="ui section divider"></div>
        <div class="row">
            <button type="submit" class="ui positive button confirm">Noten Speichern</button>
        </div>
    </form>


{% endblock internal_body %}
