{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import csrf_field, render_submit, attendance_status, render_boolean, render_input %}

{% block caption %}
    Kurs: {% if current_user.is_admin_or_superuser %}
    <a href="{{ url_for('language', id=course.language.id) }}">{{ course.language.name }}</a>
    {% else %}{{ course.language.name }} {% endif %} {{ course.level }}
    {{ course.alternative }}
{% endblock caption %}


{% block internal_body %}
    <div class="ui grid">
        {% if current_user.is_teacher %}
            <div>
                <a href=" {{ url_for('teacher') }} ">
                    <button type="button" class="ui button">Zurück zu meinen Kursen</button>
                </a>
            </div>
        {% endif %}
        <div class="row">
            <h2>Notenübersicht</h2>
        </div>
        <div class="three column row">
            <div class="left floated column">
                <a href=" {{ url_for('import_grade', course_id=course.id) }} ">
                    <button type="button" class="ui blue button"><i class="file excel icon"></i>Notenliste hochladen
                    </button>
                </a>
            </div>
            <div class="center floated column">
                <a href=" {{ url_for('edit_grade', course_id=course.id) }} ">
                    <button type="button" class="ui button"><i class="edit icon"></i>Noten eintragen</button>
                </a>
            </div>
        </div>
        <div class="sixteen wide column">
            <form class="ui form" method="post">
                {{ csrf_field() }}
                <table class="ui selectable sortable small table">
                    <thead>
                    <tr>
                        <th>Matrikelnr.</th>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>ECTS</th>
                        <th>Note</th>
                        <th>Prüfungsdatum</th>
                        <th>TS</th>
                        <th>TS erh.</th>
                        <th>PS erh.</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for applicant in course.course_list %}
                        {% set attendance = course.get_course_attendance(course.id, applicant.id) %}
                        <tr class="{{ 'error' if attendance.full_grade == 'nicht bestanden' else '' }}">
                            <td>{% if applicant.tag %} {{ applicant.tag }} {% endif %}</td>
                            <td>{{ applicant.first_name }}</td>
                            <td>{{ applicant.last_name }}</td>
                            <td>
                                {% if attendance is none %}
                                    Fehler: nicht in Liste
                                {% else %}
                                    {{ attendance.ects_points }}
                                {% endif %}
                            </td>
                            <td>
                                {% if attendance is none %}
                                    Fehler: nicht in Liste
                                {% else %}
                                    {% if attendance.grade is not none %}
                                        {% if attendance.hide_grade %}
                                            <b>bestanden</b>
                                        {% else %}
                                            {{ attendance.full_grade }}
                                        {% endif %}
                                    {% else %}
                                        -
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td> {{ exam_date }}</td>
                            <td>
                                <div class="ui checkbox">
                                    <input type="checkbox" name="TS_tx"
                                           value="tx_{{ attendance.applicant.mail }}">
                                </div>
                            </td>
                            <td>
                                <div class="ui checkbox">
                                    <input type="checkbox" name="TS_rx"
                                           value="rx_{{ attendance.applicant.mail }} {% if attendance.ts_requested %} checked {% endif %}">
                                </div>
                            </td>
                            <td>
                                <div class="ui checkbox">
                                    <input type="checkbox" name="Ps_rx"
                                           value="ps_rx_{{ attendance.applicant.mail }}">
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="row">
                    <button type="submit" value="submit-grade_markup" class="fluid ui positive button" >Änderungen
                        Speichern
                    </button>
                </div>
            </form>
        </div>

    </div>


{% endblock internal_body %}
