{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import csrf_field, render_submit, attendance_status, render_boolean, render_input %}

{% block caption %}
    Kurs: {{ course.language.name }} {{ course.level }}
    {{ course.alternative }}
{% endblock caption %}


{% block internal_body %}
    {% if current_user.is_teacher %}
        <div>
            <a href=" {{ url_for('teacher') }} ">
                <button type="button" class="ui button">Zurück zu meinen Kursen</button>
            </a>
        </div>
    {% endif %}

    <div class="three column row">
        <div class="left floated column">
            <h2>Notenübersicht</h2>
        </div>
        <div class="right floated column">
            <a href=" {{ url_for('edit_grade', course_id=course.id) }} ">
                <button type="button" class="ui button"><i class="edit icon"></i>Noten ändern</button>
            </a>
        </div>
    </div>
    <div class="row">
        <table class="ui selectable sortable compact small table">
            <thead>
            <tr>
                <th>Matrikelnr.</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>ECTS</th>
                <th>Note</th>
                <th>Prüfungsdatum</th>
            </tr>
            </thead>
            <tbody>
            {% for applicant in course.course_list %}
                <tr class="{{ 'error' if applicant.full_grade == 'nicht bestanden' else '' }}">
                    <td>{% if applicant.tag %} {{ applicant.tag }} {% endif %}</td>
                    <td>{{ applicant.first_name }}</td>
                    <td>{{ applicant.last_name }}</td>
                    <td>
                        {% if course.get_course_attendance(course.id, applicant.id) is none %}
                            Fehler: nicht in Liste
                        {% else %}
                            {{ course.get_course_attendance(course.id, applicant.id).ects_points }}
                        {% endif %}
                    </td>
                    <td>
                        {% if applicant.grade is not none %}
                            {% if applicant.hide_grade %}
                                <b>bestanden</b>
                            {% else %}
                                {{ applicant.full_grade }}
                            {% endif %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td> {{ exam_date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock internal_body %}
