{% extends 'baselayout.html' %}
{% from 'formhelpers.html' import csrf_field, render_input, render_raw_input, render_option, render_radio, render_submit %}

{% block caption %}
    Anmeldung {{ course.language.name }} {{ course.level }} {{ course.alternative }}
{% endblock caption %}


{% block body %}
    <div class="row">
        <form id="signup" class="ui form" method="post" data-persist="garlic">
            {{ csrf_field() }}
            {{ render_raw_input(form.state, type='hidden') }}
            {{ render_raw_input(form.course, type='hidden') }}
            <h3 class="ui dividing header">Persönliche Angaben</h3>
            <div class="grouped fields">
                {% if current_user.is_admin_or_superuser %}
                    {{ render_input(form.first_name, placeholder='Mika', icon='user') }}
                    {{ render_input(form.last_name, placeholder='Müller', icon='users') }}
                {% else %}
                    {{ render_input(form.first_name, placeholder='Mika', icon='user', readonly=True) }}
                    {{ render_input(form.last_name, placeholder='Müller', icon='users', readonly=True) }}
                {% endif %}
            </div>
            <div class="grouped fields">
                {{ render_input(form.phone, placeholder='0 1521 1234 678', icon='mobile') }}
                {# mail needs an help-block because we write the suggestion in it #}
                {{ render_input(form.mail, placeholder='mika.mueller@beispiel.de', required_extras='data-type="email" data-trigger="change"', help=' ', icon='at') }}
                {{ render_input(form.confirm_mail, placeholder='mika.mueller@beispiel.de', required_extras='data-type="email" data-trigger="change"', help=' ', icon='at') }}
            </div>
            <div class="grouped fields">
                {{ render_option(form.origin, icon='leaf') }}
                {{ render_input(form.tag, help='Falls Sie kein KIT-Studierender sind und einen Englischkurs belegen wollen, tragen Sie hier die Ihnen vom Sprachenzentrum erteilte ID ein. Mitarbeiter müssen Ihren KIT-Account (login) eintragen.', icon='barcode') }}
            </div>
            {% if is_student or current_user.is_admin_or_superuser %}
                <div class="kit-only">
                    <h3 class="ui dividing header">Angaben zum Studium</h3>
                    <div class="grouped fields">
                        {% if is_student %}
                            {{ render_option(form.degree, icon='student') }}
                            {{ render_input(form.semester, placeholder='1', type='number', required_extras='step="1" type="range" min="1" max="26"', icon='calendar') }}
                        {% else %}
                            {{ render_option(form.degree, required=False, icon='student') }}
                            {{ render_input(form.semester, placeholder='1', type='number', required=False, required_extras='step="1" type="range" min="1" max="26"', icon='calendar') }}
                        {% endif %}
                    </div>
                    {{ render_radio(form.graduation, required=False, icon='file text outline') }}
                </div>
            {% endif %}
            <div class="ui message">
                Alle Teilnehmer erhalten zwei Auto-E-Mails: Eine Bestätigungsmail und eine mit der Info über den Ausgang
                der Verlosung. Sollten Sie diese Mails 48h nach Verlosung noch nicht erhalten haben,
                melden Sie sich bitte bei Ihrem Fachleiter.
            </div>
            {{ render_submit(submit='Absenden') }}
        </form>
    </div>
{% endblock body %}


{% block scripts %}
    {{ super() }}
{% endblock scripts %}
