{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import csrf_field, render_option, render_boolean, render_submit %}

{% block caption %}
    Export Semester Gesamtliste
{% endblock caption %}


{% block internal_body %}
    <div class="row">
        <form class="ui form" method="post" id="export" enctype="multipart/form-data">
            {{ csrf_field() }}

            <h3 class="ui dividing header">Sprache</h3>
            Download der Gesamtliste mit allen Studierenden der ausgewählten Sprache im {{ semester }}.
            <div class="ui hidden divider"></div>
            {{ render_option(form.language, required=True, icon="language icon") }}
            {{ render_option(form.format, required=True, icon="paperclip icon") }}

            {{ render_submit(submit='Herunterladen') }}
        </form>
    </div>
{% endblock internal_body %}
