{% extends 'mails/basemail.html' %}

{% block message %}
Sie sind auf der Warteliste.

Falls Sie in den Kurs nachrücken, werden Sie automatisch per Mail
benachrichtigt.
Falls Sie sich nach der Hauptanmeldung für Restplätze in den Kursen angemeldet haben,
und der entsprechende Kurs noch Plätze frei hatte, bekommen Sie in wenigen Minuten eine zweite Mail mit der Zulassung zum Kurs.

Falls Sie nicht mehr am Kurs teilnehmen möchten, können Sie sich unter anmeldung.spz.kit.edu/signoff (bitte in die Adresszeile Ihres Browsers kopieren) unter Angabe Ihrer Abmelde-ID abmelden.
Abmelde-ID: {{ applicant.signoff_id }}
{% endblock message %}
